body{
  padding-top: 70px;
}
#home{
  padding-top:150px;
}
#template_add{
  padding-top:150px;
}
.add_span{
  margin-right: 8px;
}
.file_select {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
#file_select_button{
  margin-top:10px;
}
#mySpinner{
  margin-left: 190px;
}
