 <div class="row" id="template_add">
      <div class="col-md-4" >
            <div class=" file_select form-group">
              <input type="file" class="form-control" id="csv-file" accept=".csv" placeholder="Select CSV">
              <a id= "file_select_button" href="#/validate" class="btn btn-primary"> Select</a>
            </div>
      </div>
      <div class="col-md-8" >
          <h3>GitLab community edition</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
             Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis</p>
      </div>
 </div>
 <hr>
 <div class="row">
    	<div class="col-xs-12">
    		<footer>
    			<p>&copy; Copyright 2015 University of Western Ontario</p>
    		</footer>
    	</div>
 </div>
